.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
body{
  background-color: #F5F5F5;

}
#title{

}
#testimonia{


}

#features{
  font-family: sans;
  color:#F5F5F5;
  height:680px;
}
.text-center{
  padding-top:180px;
  padding-right: 15px;
}

#footer{
 background-color:#D8C4B6;
 margin-top: 100px;
 padding-top: 45px;
}

.row{
  
  margin-bottom: 20px
}
